
<!DOCTYPE html>
<html>
<head>

 <link rel="stylesheet"  href="css/style.css" />

</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/service">services</a>
  <a href="/about">abou</a>
  <a href="/team">team</a>
  <a href="/contact">contact</a>
</div>
</body>
</html>